<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shelf.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>shelf.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>shelf</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$shelf</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:phlurgnzbb.database.windows.net,1433;Initial Catalog=shelfAsdQ47fllwP;User ID=shelfDB_Admin@phlurgnzbb;Password=Foreca$t21" Name="Data Source=tcp:phlurgnzbb.database.windows.net,1433;Initial Catalog=shelfAsdQ47fllwP;User Id=shelfDB_Admin@phlurgnzbb;Password=Foreca$t21" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Shelf.Models.ApplicationDbContext, Shelf" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="shelfDBEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:phlurgnzbb.database.windows.net,1433;Initial Catalog=shelfAsdQ47fllwP;User ID=shelfDB_Admin@phlurgnzbb;Password=Foreca$t21" Name="Data Source=tcp:phlurgnzbb.database.windows.net,1433;Initial Catalog=shelfAsdQ47fllwP;User Id=shelfDB_Admin@phlurgnzbb;Password=Foreca$t21" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Shelf.Models.shelfDBEntities, Shelf" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:phlurgnzbb.database.windows.net,1433;Initial Catalog=shelfAsdQ47fllwP;User Id=shelfDB_Admin@phlurgnzbb;Password=Foreca$t21</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)shelfDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ShelfDBModel.csdl|res://*/Models.ShelfDBModel.ssdl|res://*/Models.ShelfDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:phlurgnzbb.database.windows.net,1433;Initial Catalog=shelfAsdQ47fllwP;User Id=shelfDB_Admin@phlurgnzbb;Password=Foreca$t21"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>